[build]
builder = "nixpacks"

[deploy]
startCommand = "java -jar -Dserver.port=$PORT target/*.jar"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
